@import "../../styles/breakpoints";
@import "../../styles/variables";

.sidebarContainer {
  height: 100vh;
  padding: 6rem 1rem;
  position: fixed;
  background-color: $foreground-color;
  width: 15rem;

  button {
    color: $color-grey;
    border-radius: 0.75rem;
    justify-content: flex-start;
    text-transform: capitalize;
    padding: 0.5rem;
    background-color: transparent;
    text-transform: capitalize;
    box-shadow: none;
  }

  .closeButton {
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
  }

  .sidebarItemList {
    list-style: none;
    padding: 0;
    margin: 0;

    .sidebarItem {
      .navLink {
        .button {
          width: 100%;

          &.expanded {
            background-color: transparent;
            box-shadow: none;
          }

          &:hover {
            color: $color-dark;
          }

          > span {
            &:global(.MuiButton-startIcon) {
              padding: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .activeNavLink {
        .button {
          color: $color-accent;
          width: 100%;

          > span {
            &:global(.MuiButton-startIcon) {
              padding: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
