@import "../../styles/variables";

.contentContainer {
  margin: 0 4rem;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;

  .topContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    > h2 {
      color: $color-main;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }
}
