// Global color variables to keep color theme consistency
$background-color: rgb(238, 239, 255);
$foreground-color: #ffffff;

$box-shadow-darker: rgba(121, 108, 220, 0.136);
$box-shadow-lighter: #f3f3f3;

$color-main: rgb(46, 42, 59);
$color-dark: rgb(97, 91, 115);
$color-grey: rgb(152, 149, 167);
$color-light-grey: rgb(190, 188, 203);
$color-grey-almost-transparent: rgba(190, 188, 203, 0.15);
$color-almost-transparent: rgba(255, 255, 255, 0.131);

$color-danger: rgb(230, 66, 66);

$color-accent: rgb(97, 87, 183);
$color-accent-light: rgb(125, 136, 222);
