@import "../../styles/variables.module.scss";

.tableContainer {
  margin-bottom: 3rem;
  border-radius: 0.75rem;
  background: $foreground-color;
  box-shadow: 0.625rem 2.5rem 2.5rem -1.25 $box-shadow-darker;
  border: transparent;
  padding: 1.5rem;

  > div {
    border: transparent;

    > div:nth-child(1) {
      > div:nth-child(2) {
        > div:nth-child(1) {
          font-size: 1rem;
          height: 12.5rem;
          max-width: 64rem;
          text-align: center;
          line-height: 12.5;
        }
      }
    }
  }
}
