@import "../../styles/variables.module.scss";

.signInContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  > h1 {
    margin-bottom: 3rem;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;

    > img {
      height: 100%;
      width: 100%;
    }

    > a {
      font-size: 1rem;
      width: 22rem;
      margin-left: 4rem;
      color: $color-almost-transparent;
    }
  }

  .formContainer {
    width: 50%;
    display: flex;
    justify-content: center;

    > form {
      width: 60%;
      margin: 0;
    }
  }
}
