@import "../../styles/breakpoints.module.scss";

.layoutContainer {
  width: calc(100vw - 4rem);

  .contentContainer {
    width: calc(100vw - 4rem);
    margin: 0 2rem;

    @include lg-breakpoint {
      width: calc(100vw - 18rem);
      margin-left: 17rem;
    }
  }
}
