@import "../../styles/variables.module.scss";
@import "../../styles/breakpoints.module.scss";

.navigationContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 20;

  &.navigationScrolled {
    background-color: $foreground-color;
  }

  .navigation {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    justify-content: center;
    height: 3.25;

    @include sm-breakpoint {
      padding: 1.5rem 3rem;
    }

    @include lg-breakpoint {
      justify-content: space-between;
    }

    .logoContainer {
      display: flex;
      align-items: center;

      .logoText {
        font-size: 1.75rem;
        font-weight: bold;
        color: $color-accent-light;
      }
    }

    .navigationItems {
      display: flex;
      justify-content: flex-end;
    }

    .userButton {
      display: flex;
      position: absolute;
      right: 2.5rem;
      top: 1.5rem;

      @include md-breakpoint {
        right: 3.5rem;
      }

      @include lg-breakpoint {
        position: unset;
      }

      .userIconButton {
        padding: 0 !important;

        > div {
          background-color: transparent;
          color: $color-accent-light;
        }
      }
    }
  }
}
